<div class="upload-container">
  <label for="formFile" class="form-label">Upload PDF file</label>
  <input
    type="file"
    id="formFile"
    (change)="onFileSelected($event)"
    accept=".pdf"
    class="form-control form-control-sm"
  />
  <button (click)="uploadPDF()" class="btn btn-primary mt-3">Upload</button>

  <div *ngIf="selectedFile">
    <p class="mt-3">Selected PDF: {{ selectedFile!.name }}</p>
  </div>

  <div *ngIf="uploadResponse">
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="card mt-3 p-3">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" />
          </div>
          <div class="form-group">
            <label for="localityName">Locality Name</label>
            <input type="text" class="form-control" id="localityName" formControlName="localityName" />
          </div>
          <div class="form-group">
            <label for="town">Town</label>
            <input type="text" class="form-control" id="town" formControlName="town" />
          </div>
          <div class="form-group">
            <label for="number">Number</label>
            <input type="text" class="form-control" id="number" formControlName="number" />
          </div>
          <div class="form-group">
            <label for="cardId">Card ID</label>
            <input type="text" class="form-control" id="cardId" formControlName="cardId" />
          </div>
          <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" id="job" formControlName="job" />
          </div>
          <div class="form-group">
            <label for="sex">Sex</label>
            <input type="text" class="form-control" id="sex" formControlName="sex" />
          </div>
          <div class="form-group">
            <label for="religion">Religion</label>
            <input type="text" class="form-control" id="religion" formControlName="religion" />
          </div>
          <div class="form-group">
            <label for="maritalStatus">Marital Status</label>
            <input type="text" class="form-control" id="maritalStatus" formControlName="maritalStatus" />
          </div>
          <div class="form-group">
            <label for="validityDate">Validity Date</label>
            <input type="text" class="form-control" id="validityDate" formControlName="validityDate" />
          </div>
          <div class="form-group">
            <label for="releaseDate">Release Date</label>
            <input type="text" class="form-control" id="releaseDate" formControlName="releaseDate" />
          </div>
        </div>
        <div class="col-md-6">
          <img id="image" loading="lazy" [src]="'data:image/png;base64,' + uploadResponse.image" class="img-fluid" />
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="code_qr">QR Code</label>
        <textarea class="form-control" id="code_qr"  formControlName="code_qr"></textarea>
      </div>
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>

  <div *ngIf="uploadError" class="mt-3">
    <p class="error">{{ uploadError }}</p>
  </div>
</div>
